[package]
name = "sdk-sidecar"
authors.workspace = true
edition.workspace = true
license.workspace = true
version = "0.3.0"

[[bin]]
name = "lexe-sidecar"
path = "src/main.rs"

[dependencies]

# --- LEXE --- #

app-rs = { path = "../app-rs", default-features = false }
common = { path = "../common" }
lexe-api = { path = "../lexe-api" }
lexe-std.path = "../lexe-std"
lexe-tokio = { path = "../lexe-tokio" }
logger = { path = "../logger" }
sdk-core = { path = "../sdk-core" }

# --- WORKSPACE --- #

anyhow.workspace = true
argh.workspace = true
axum.workspace = true
dotenvy.workspace = true
http.workspace = true
quick_cache.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = [
    "rt",
    "signal",
] }
tracing.workspace = true
