[package]
name = "sdk-sidecar"
authors.workspace = true
edition.workspace = true
license.workspace = true
version.workspace = true

[[bin]]
name = "lexe-sidecar"
path = "src/main.rs"

[dependencies]

# --- LEXE --- #

app-rs = { path = "../app-rs", default-features = false }
common = { path = "../common" }
const-utils = { path = "../const-utils" }
logger = { path = "../logger" }
lexe-api = { path = "../lexe-api" }

# --- WORKSPACE --- #

anyhow.workspace = true
argh.workspace = true
axum.workspace = true
dotenvy.workspace = true
serde.workspace = true
tokio = { workspace = true, features = [
    "rt",
    "signal",
] }
tracing.workspace = true
