[package]
name = "payment-uri"
authors.workspace = true
edition.workspace = true
license.workspace = true
version.workspace = true

[dependencies]

# --- LEXE --- #

common.path = "../common"
lexe-api-core.path = "../lexe-api-core"
lexe-tls-core = { path = "../lexe-tls-core", features = ["webpki-roots"] }
logger.path = "../logger"
payment-uri-core.path = "../payment-uri-core"

# --- WORKSPACE --- #

anyhow.workspace = true
base64.workspace = true
bitcoin.workspace = true
dnssec-prover = { workspace = true, features = ["std", "tokio", "validation"] }
lightning-invoice.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true

[dev-dependencies]

# --- LEXE --- #

lexe-api-core = { path = "../lexe-api-core", features = ["test-utils"] }
lexe-std.path = "../lexe-std"
logger = { path = "../logger", features = ["test-utils"] }

# --- WORKSPACE --- #

tokio = { workspace = true, features = ["macros", "test-util"] }
