<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleURLTypes</key>
    <array>
      <!-- Register Lexe as a handler for "bitcoin:", "lightning:", etc... URIs -->
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER).uri</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>BITCOIN</string>
          <string>LIGHTNING</string>
          <string>bitcoin</string>
          <string>lightning</string>
          <string>lnurlp</string>
          <!-- Uncomment if we support these someday -->
          <!-- <string>lnurlw</string> -->
          <!-- <string>lnurlc</string> -->
          <!-- <string>keyauth</string> -->
          </array>
        </dict>
    </array>

    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <!-- While we're using app_links to handle deep links (e.g. "bitcoin:" and
         "lightning:" URIs), we need to opt out of flutter deep linking

         See: <https://docs.flutter.dev/release/breaking-changes/deep-links-flag-change>
         -->
    <key>FlutterDeepLinkingEnabled</key>
    <false/>

    <!-- Required for `url_launcher` to query for other apps that can open
         "bitcoin:" and "lightning:" payment URIs.
         See: <app/lib/share.dart> -->
    <!-- TODO(phlip9): this doesn't work well when Lexe is registered as the
         only handler for these URI schemes. Let's hold onto this for when we
         figure out a more robust solution. -->
    <!-- <key>LSApplicationQueriesSchemes</key> -->
    <!-- <array> -->
    <!--   <string>BITCOIN</string> -->
    <!--   <string>LIGHTNING</string> -->
    <!--   <string>bitcoin</string> -->
    <!--   <string>lightning</string> -->
    <!--   </array> -->

    <!-- For TLS, we use ciphersuite=TLS13_AES_128_GCM_SHA256, kex=X25519.
         We use AES-256-GCM to encrypt VFS files and root seed backup passwords.
         These are IETF standard in TLSv1.3, so should be exempt:
         <https://developer.apple.com/help/app-store-connect/reference/export-compliance-documentation-for-encryption>
         -->
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>

    <!-- Required for `flutter_file_saver` to open platform file save dialog.
         Used to save node state dump from gDrive. -->
    <key>UISupportsDocumentBrowser</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>

    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Lexe needs camera access to scan QR codes</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Lexe needs photos access to read QR code images from the photo library</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <!-- The launch screen that shows while the main flutter view loads. -->
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    </dict>
  </plist>
