# Set our baseline x86-64 support to CPUs 2015+ with standard crypto intrinsics.

[target.x86_64-fortanix-unknown-sgx]
# Use our custom SGX runner
runner = "run-sgx-cargo"
# Build with crypto intrinsics required at compile time. SGX enclaves don't
# support runtime feature detection with cpuid.
rustflags = ["-Zoom=panic", "-Ctarget-cpu=x86-64-v3", "-Ctarget-feature=+adx,+aes,+pclmulqdq,+sha,+vaes"]

# NOTE(phlip9): This was too aggressive for our cheaper dev VMs. We'll just
# enable these flags manually for prod-relevant build artifacts.
#
# # Might as well do the same for everything else. `vaes` is too aggressive
# # (Ice Lake 2021+) to mandate outside of our enclaves.
# [target.x86_64-unknown-linux-gnu]
# rustflags = ["-Ctarget-cpu=x86-64-v3", "-Ctarget-feature=+adx,+aes,+pclmulqdq,+sha"]
