<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>

    <key>CFBundleURLTypes</key>
    <array>
      <!-- Register Lexe as a handler for "bitcoin:", "lightning:", etc... URIs -->
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER).uri</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>BITCOIN</string>
          <string>LIGHTNING</string>
          <string>bitcoin</string>
          <string>lightning</string>
          <string>lnurlp</string>
          <!-- Uncomment if we support these someday -->
          <!-- <string>lnurlw</string> -->
          <!-- <string>lnurlc</string> -->
          <!-- <string>keyauth</string> -->
          </array>
        </dict>
      </array>

    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <!-- For TLS, we use ciphersuite=TLS13_AES_128_GCM_SHA256, kex=X25519.
         We use AES-256-GCM to encrypt VFS files and root seed backup passwords.
         These are IETF standard in TLSv1.3, so should be exempt:
         <https://developer.apple.com/help/app-store-connect/reference/export-compliance-documentation-for-encryption>
         -->
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>

    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>NSHumanReadableCopyright</key>
    <string>$(PRODUCT_COPYRIGHT)</string>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    </dict>
  </plist>
