name: CI

on:
  pull_request:
  push:
    branches:
      - master

# Workflows run on a PR should cancel previous workflows run on the same PR, but
# this rule should NOT apply to workflows running anywhere else (e.g. master)
# `head_ref` is only defined for PRs, and `run_id` is unique per run, QED.
# https://docs.github.com/en/actions/using-jobs/using-concurrency
# https://docs.github.com/en/actions/learn-github-actions/contexts#github-context
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

# TODO(phlip9): read-all?
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions:
  contents: read

env:
  # Don't emit giant backtraces in CI.
  RUST_BACKTRACE: short
  # Fail CI even on rustc "warning" lints.
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings
  # Set log level in CI to warn. If you need more information to debug a CI
  # failure, change this temporarily and rerun your tests.
  RUST_LOG: warn
  # Allow more retries for network requests in cargo (downloading crates) and
  # rustup (installing toolchains). This should help to reduce flaky CI failures
  # from transient network timeouts or other issues.
  RUSTUP_MAX_RETRIES: 10
  CARGO_NET_RETRY: 10
  # Colorize cargo output in CI.
  CARGO_TERM_COLOR: always
  # Less wasteful caching w/ non-incremental builds.
  CARGO_INCREMENTAL: 0
  LEXE_RUST_FMT_VERSION: nightly-2025-10-16
  LEXE_CI: 1

jobs:

  # FIXME: Cargo is not picking up .cargo/config.toml, hence RUSTFLAGS is used
  # whenever the target is SGX

  # --- Linting the whole workspace --- #
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3
      # Native
      - run: cargo clippy --locked --workspace
      # Native + tests
      - run: cargo clippy --locked --workspace --tests
  clippy-sgx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3
      - run: rustup target add x86_64-fortanix-unknown-sgx
      # SGX
      - run: RUSTFLAGS="-C target-feature=+aes,+ssse3 -D warnings" RUSTC_BOOTSTRAP=1 cargo clippy --locked -p node -p common -p lexe-ln -p sgx-test --target=x86_64-fortanix-unknown-sgx
      # SGX + tests
      - run: RUSTFLAGS="-C target-feature=+aes,+ssse3 -D warnings" RUSTC_BOOTSTRAP=1 cargo clippy --locked -p node -p common -p lexe-ln -p sgx-test --target=x86_64-fortanix-unknown-sgx --tests

  # --- Check the production binaries, which don't use feature unification --- #
  check-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3
      - run: rustup target add x86_64-fortanix-unknown-sgx
      # Utils
      - run: cargo check --release --locked -p run-sgx
      # Node
      - run: RUSTFLAGS="-C target-feature=+aes,+ssse3 -D warnings" RUSTC_BOOTSTRAP=1 cargo check --release --locked -p node --target=x86_64-fortanix-unknown-sgx

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3
      - run: cargo test --locked

  # TODO(max): Enable once we are approved so we don't need to constantly reauth
  # test-gdrive:
  #   runs-on: ubuntu-latest
  #   env:
  #     # These secrets originate from a random Google account owned by Max.
  #     # Don't remove this account from the Lexe project test users in Google
  #     # Cloud, otherwise this CI workflow will break,
  #     GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
  #     GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
  #     GOOGLE_REFRESH_TOKEN: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
  #     GOOGLE_ACCESS_TOKEN: ${{ secrets.GOOGLE_ACCESS_TOKEN }}
  #     GOOGLE_ACCESS_TOKEN_EXPIRY: 0
  #     SKIP_GDRIVE_TOKEN_PRINT: 1

  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: dtolnay/rust-toolchain@master
  #       with:
  #         toolchain: ${{ env.LEXE_RUST_VERSION }}
  #     - uses: Swatinem/rust-cache@v2
  #     - uses: arduino/setup-protoc@v3
  #       with: # Authenticate to prevent rate limit error
  #         repo-token: ${{ secrets.GITHUB_TOKEN }}
  #       # Run only the `#[ignore]`d gdrive tests, and do it on one thread to
  #       # prevent the tests (which create and delete the regtest VFS root) from
  #       # interfering with each other
  #     - run: cargo test --locked -p gdrive -- --ignored --test-threads=1

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup install --component=rustfmt ${{ env.LEXE_RUST_FMT_VERSION }}
      - run: rustup run ${{ env.LEXE_RUST_FMT_VERSION }} cargo fmt --all -- --check

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3
      - run: cargo doc --locked --no-deps --document-private-items
      # don't cache built docs, they take up a lot of space and rebuild quickly
      - run: rm -rf target/doc/

  nix-reproducible-sgx-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix build -L .#node-debug-sgx
